/* Animation */

.to-top {
  opacity: 0;
  transition: all 1.5s ease 0s;
}

.to-top {
  transform: translateY(100px);
}

.to-top.show {
  transform: translateY(0);
  opacity: 1;
}
/* Animation */
