@font-face {
  font-family: "Bebas Neue";
  src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Crimson Text";
  src: url(../font/CrimsonPro-VariableFont_wght.ttf);
}

:root {
  --text-color: #bbbbbb;
  --text-white: #ffffff;
  --main-color: #1d1d1d;
  --second-color: #3a3a3a;
}

body {
  background-color: var(--main-color) !important;
  color: var(--text-color) !important;
  font-family: "Bebas Neue", cursive !important;
  overflow-x: hidden !important;
  margin: 0 !important;
  width: 100% !important;
}

.relative {
  position: relative;
}

#state {
  position: relative;
  min-height: calc(100vh - 39rem);
  overflow: hidden;
  max-width: 2560px;
}

.carousel-top.home,
.carousel-top.model {
  height: 100vh;
}

.carousel-top {
  min-height: 0;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--main-color);
  z-index: 1;
}

.carousel-top .h2,
.carousel-top h1 {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
}

.carousel-top h1 {
  position: absolute;
}

.carousel-top svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel-top .fade {
  opacity: 0.3 !important;
}

.carousel-top .boxcontent {
  padding-top: 10rem;
  left: calc(8.3% + 3rem);
  position: absolute;
  top: 7rem;
  top: 6rem;
  width: calc(91.7% - 3rem);
}

.carousel-top .h2,
.carousel-top h1 {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
}

.carousel-top .boxcontent p {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  width: 44rem;
  margin-top: 5rem;
}

.row-content.fullwidth {
  padding: 0;
}

.block0 {
  overflow: visible;
  z-index: 3;
}

.block0 {
  height: 63rem;
  margin-bottom: 0;
}

.stripe {
  position: relative;
}

.row-content {
  max-width: 2560px;
  margin: 0 auto;
}

.block0 .column {
  position: relative;
  height: 100%;
  display: table;
}

.block0 .column .boxcontent {
  display: table-cell;
  vertical-align: middle;
  padding: 6rem 0;
}

.banks-list h2,
.banks-list h3 {
  font-size: 4rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 2.7rem;
  font-family: "Crimson Text", serif;
}

p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  font-family: "Crimson Text", serif;
}

#logo {
  height: 6rem;
}

.block0 .images .skew {
  left: 50%;
  width: 262.5rem;
  height: 94rem;
  width: 88.23529412rem;
  top: -42rem;
}

.block0 .images .skew {
  position: absolute;
}

#banks-list {
  margin-top: 0rem;
}

section.banks-list {
  margin-top: 9rem;
  margin-bottom: 10rem;
}

section.banks-list h3 {
  font-size: 3.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
}

section.banks-list h2 {
  margin-top: 1rem;
  font-size: 7.6rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: -2.28px;
  font-family: "Bebas Neue";
}

section.banks-list .links {
  margin-top: 9rem;
  padding-right: 9rem;
}

section.banks-list ul {
  padding: 0;
  list-style: none;
  margin-top: 4rem;
}

section.banks-list ul li a {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 1px solid #e5e5e5;
  padding: 3rem 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.72px;
  color: #fff;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

section.banks-list ul li a:hover {
  color: var(--main-color);
  background-color: #fff;
}

section.banks-list ul li a .three-m,
section.banks-list ul li div .three-m {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 1.2px;
  width: 100%;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

section.banks-list ul li a .one {
  font-size: 1.2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.36;
  letter-spacing: 0.42px;
  margin-right: 6rem;
  font-family: "Crimson Text";
  width: 60px;
  height: 66px;
}

section.banks-list ul li a .two {
  text-transform: capitalize;
  min-width: 100%;
  font-family: "Crimson Text";
}

.banks-list ul a .two {
  max-width: 50%;
}

section.banks-list ul li a .three {
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -0.52px;
  flex: 1 1 auto;
  font-family: "Crimson Text";
}

.banks-list ul a .three {
  max-width: 100%;
}

section.banks-list ul li a .four {
  font-size: 1.2rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-left: auto;
}

#pagination {
  padding-left: 32.4rem;
}

#pagination .paginationjs .paginationjs-pages ul {
  display: flex;
}

#pagination .paginationjs .paginationjs-pages ul li {
  margin: 1rem;
}

.form .form-element {
  padding-top: 5.5rem;
}

.form input {
  /* margin-top: 12rem; */
  margin-left: 33rem;
  transition: margin-top 0.3s ease-out;
  font-size: 2.6rem;
  border: none;
  border-bottom: 1px solid #464646;
  background-color: transparent;
  padding: 1.3rem 0;
  color: #fff;
  line-height: 1;
  font-style: italic;
  background-color: var(--main-color);
}

.form button.search-btn {
  border: none !important;
  color: #fff;
  line-height: 1;
  padding: 1rem 1rem;
  background-color: var(--main-color);
  font-size: 2.6rem;
  cursor: text;
}

.form button {
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}
