.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 18.66%;
}

.col-3 {
  width: 22.5%;
}

.col-4 {
  width: 28%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
.col-center {
  display: flex;
  align-items: center;
}
