@media (max-width: 600px) and (min-width: 280px) {
  header {
    height: 60px;
    width: 100%;
  }
  header.shrink {
    height: 50px;
  }
  header.shrink .logo {
    height: 45px;
    width: 45px;
  }

  .toggle-button {
    display: block;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .main-menu-wrapper {
    display: block;
    flex-direction: column;
  }

  .main-menu {
    background-color: #3a3a3a;

    width: 150px;
    height: 130px;
    padding-top: 10px;
    visibility: hidden;
    flex-direction: column;
    left: 0px;
    top: 0;
    position: fixed;
    margin-top: 60px;
    transform: translateX(-100%);
  }
  .main-menu.active {
    visibility: visible;
    transform: translateX(0);
    transition: visibility 0s linear 0s, transform 0.2s ease-out 0s,
      -webkit-transform 0.2s ease-out 0s;
  }

  .main-menu2 {
    margin-top: 137px;
    height: 70px;
  }
  .main-menu li a {
    font-size: 12px;
  }
  .main-menu > li ~ li {
    /* margin-left: 0px; */
    margin-top: 10px;
  }
  .search {
    width: 100%;
    margin-top: 50px;
  }

  .search-form {
    height: 35px;
  }
  .search-btn {
    height: 35px;
    width: 35px;
  }
  .search-btn a {
    font-size: 15px;
    color: #bbbbbb;
  }
  .footer-list-menu h3 {
    font-size: 15px;
    margin: 0;
  }
  .col-2 {
    width: 28%;
  }
  .list-menu-item {
    height: 12px;
    padding: 15px 0;
  }

  .list-menu-item a span {
    font-size: 12px;
  }
  footer {
    height: 50vh;
  }
  .footer-main .row {
    padding-left: 50px;
  }
  .footer-logo {
    top: 65%;
  }
  .footer-logo img {
    height: 100px;
    width: 100px;
  }
  .social-item {
    font-size: 16px;
    margin: 2px;
    margin-left: 5px;
  }
  .footer-legal span {
    font-size: 12px;
  }
}
@media (max-width: 910px) and (min-width: 601px) {
  header {
    height: 90px;
  }
  .toggle-button {
    display: block;
  }
  .logo {
    height: 80px;
    width: 80px;
  }

  .main-menu-wrapper {
    display: block;
    flex-direction: column;
  }

  .main-menu.active {
    display: block;
  }
  .main-menu {
    background-color: #3a3a3a;

    width: 250px;
    height: 130px;
    padding-top: 20px;
    display: none;
    flex-direction: column;

    left: 0px;
    top: 0;
    position: fixed;
    margin-top: 90px;
  }

  .main-menu2 {
    margin-top: 210px;
    height: 90px;
  }
  .main-menu li a {
    font-size: 15px;
  }
  .main-menu > li ~ li {
    /* margin-left: 0px; */
    margin-top: 20px;
  }
  .search {
    width: 50%;
    margin-top: 90px;
  }

  .search-form {
    height: 40px;
  }
  .search-btn {
    height: 40px;
    width: 40px;
  }
  .search-btn a {
    font-size: 15px;
    color: #bbbbbb;
  }
  .footer-list-menu h3 {
    font-size: 18px;
  }
  .list-menu-item a span {
    font-size: 15px;
  }
  footer {
    height: 50vh;
  }
  .footer-main .row {
    padding-left: 50px;
  }
  .footer-logo img {
    height: 150px;
    width: 150px;
  }
  .social-item {
    font-size: 24px;
    margin: 5px;
  }
  .footer-legal span {
    font-size: 15px;
  }
}
@media (min-width: 911px) and (max-width: 1280px) {
  header {
    height: 100px;
  }
  .logo {
    height: 90px;
    width: 90px;
  }
  .main-menu li a {
    font-size: 15px;
  }
  .search {
    width: 50%;
    margin-top: 100px;
  }

  .search-form {
    height: 45px;
  }
  .search-btn {
    height: 45px;
    width: 45px;
  }
  .search-btn a {
    font-size: 17px;
    color: #bbbbbb;
  }
  footer {
    height: 55vh;
  }
}
