nav {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}
p {
  display: inline-block;
  width: 100%;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

header {
  height: 120px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
  transition: height 0.3s ease 0s background-color 0.3s ease 0s;
}
header.shrink {
  height: 80px;
  background-color: var(--second-color);
}
header.shrink .logo {
  height: 80px;
  width: 80px;
}
.logo {
  height: 110px;
  width: 110px;
}
.main-menu-wrapper {
  /* position: absolute; */
  inset: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.main-menu {
  width: 400px;
  display: flex;
  pointer-events: visible;
}

.main-menu1 {
  margin: 16px 0px;
  padding-left: 13px;
}

.main-menu2 {
  margin: 0;
  padding-left: 25px;
}

.user-menu ul {
  margin: 0;
  padding-left: 70px;
}

.main-menu > li > a {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--text-color);
}
.main-menu > li > a.active {
  color: var(--text-white);
}
.main-menu > li ~ li {
  margin-left: 83px;
}
.main-menu > li > a:hover {
  color: var(--text-white);
}

.user-menu > li {
  font-size: 18px;
}
.user-menu > ul li a i {
  color: var(--text-white);
}
.toggle-button {
  display: none;
}
