@font-face {
  font-family: "Bebas Neue";
  src: url(../font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Crimson Text";
  src: url(../font/CrimsonPro-VariableFont_wght.ttf);
}

:root {
  --text-color: #bbbbbb;
  --text-white: #ffffff;
  --main-color: #1d1d1d;
  --second-color: #3a3a3a;
}

body {
  background-color: var(--main-color) !important;
  color: var(--text-color) !important;
  font-family: "Bebas Neue", cursive !important;
  overflow-x: hidden !important;
  margin: 0 !important;
  width: 100% !important;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin-bottom: 0;
}

#page {
  position: relative;
  min-height: 100vh;
}

.news-list {
  margin-top: 0;
}

.first-news {
  position: relative;
  margin-bottom: 6rem;
  text-align: left;
  padding: 7rem 20px 0;
}

.first-news:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -2rem;
  width: calc(100% + 4rem);
  background-color: var(--second-color);
  height: 55%;
}

.first-news .news-section-title--secondary {
  font-size: 3.2rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.136rem;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.first-news .news-section-title--primary {
  padding-right: 2rem;
  font-size: 11.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: -0.348rem;
  text-align: left;
  color: var(--text-white);
  margin-top: 2rem;
  text-transform: uppercase;
}

.first-news .main-image {
  position: relative;
  margin-top: 4rem;
  min-height: 36rem;
  margin-bottom: 4rem;
}

.first-news .main-image a {
  position: relative;
  height: 100%;
}

.first-news .main-image .image {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  min-height: 26rem;
}

.first-news a:not(.boxed) {
  color: var(--text-white);
}

.css-image {
  position: relative;
}

.first-news .date {
  margin-top: 6rem;
  text-align: left;
}

.title .date.newsListBold span {
  font-size: 1.8rem;
  font-weight: 500;
}

.title .date span {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.14rem;
  text-align: left;
  color: var(--text-color);
}

.main-title .tags {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.first-news .news-title--primary {
  margin-top: 1rem;
  font-size: 3.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.064rem;
  text-transform: uppercase;
}

.first-news .main-news-abstract {
  margin-top: 1.3rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.032rem;
}

.title-box.boxed {
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  min-width: 21.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.064rem;
  color: var(--text-white);
  border: 1px solid #cbcbca;
  display: inline-block;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.title-box.boxed:hover {
  color: var(--main-color);
  background-color: #fff;
}

.news-left {
  display: block;
  margin-bottom: 6rem;
  text-align: left;
}

.news-left .image {
  width: 100%;
  height: 100%;
  background-color: #f8f8f7;
  min-height: 26rem;
  display: block;
}

.news-left .boxed {
  margin-right: auto;
}

.css-image {
  position: relative;
}

.news-left .data {
  padding-left: 4rem;
}

.title .date {
  text-align: left;
}

.news-left .date span {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.14rem;
  color: var(--text-color);
}

.news-left a:not(.boxed) {
  color: var(--text-white);
}

.main-title .tags {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.news-left .tags .tag {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #f8f8f7;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.126rem;
  text-align: left;
  color: #202020;
}

.news-left .news-title--primary {
  margin-top: 1.5rem;
  font-size: 3.2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.064rem;
  text-transform: uppercase;
}

.news-left .tags .tag:hover {
  background-color: #202020;
  color: #fff;
}

.spinner {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  height: 0px;
}

.spinner > div {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 21.5rem;
  height: 1px;
  background-color: #e5e5e5;
}

.spinner > div:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5rem;
  background-color: #908686;
  -webkit-animation: line 1s infinite ease-in-out;
  animation: line 1.5s infinite ease-in-out;
}

.more-link.read-more {
  margin-top: 4rem;
  visibility: hidden;
}
.more-link {
  text-align: center;
  margin-bottom: 6rem;
}

.load-more.boxed.dark {
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid #fff;
}

.load-more.boxed {
  padding: 1.5rem;
  text-align: center;
  /* width: auto; */
  min-width: 17rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.064rem;
  color: var(--main-color);
  border: 1px solid #cbcbca;
  display: inline-block;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.load-more.boxed:hover {
  color: var(--main-color);
  background-color: #fff;
}

@keyframes line {
  0% {
    left: 0;
  }

  50% {
    left: 77%;
  }

  100% {
    left: 0;
  }
}

footer {
  height: 40vh;
}
