@media only screen and (max-width: 1920px) and (min-width: 1800px) {
  .stripe.left .images .left-skew {
    width: 134rem;
    height: 38rem;
  }

  .stripe.nopic .images {
    height: 42rem !important;
  }

  .stripe.left .images {
    height: 60rem;
  }

  .stripe.left .images .right-skew {
    width: 54.62184874rem;
    height: 65rem;
    left: 71.88411807rem;
  }

  .stripe.left .images .sub {
    left: calc(71.20591880995872rem - 1px);
  }
}

@media only screen and (max-width: 1799px) and (min-width: 1600px) {
  .stripe.left .images .left-skew {
    width: 122rem;
    height: 37rem;
  }

  .stripe.nopic .images {
    height: 46rem !important;
  }

  .stripe.left .images {
    height: 50rem;
  }

  .stripe.left .images .right-skew {
    width: 52.62184874rem;
    height: 64rem;
    left: 66.88411807rem;
  }

  .stripe.left .images .sub {
    left: calc(64.20591880995872rem - 1px);
  }
}

@media only screen and (max-width: 1599px) and (min-width: 1440px) {
  .stripe.left .images .left-skew {
    width: 123rem;
    height: 30rem;
  }

  .stripe.nopic .images {
    height: 42rem !important;
  }

  .stripe.left .images {
    height: 60rem;
  }

  .stripe.left .images .right-skew {
    width: 55.62184874rem;
    height: 61rem;
    left: 61.88411807rem;
  }
  .stripe.left .images .sub {
    left: calc(61.20591880995872rem - 1px);
  }
}

@media only screen and (max-width: 1439px) and (min-width: 1200px) {
  .stripe.left .images .left-skew {
    width: 111rem;
    height: 27rem;
  }

  .stripe.nopic .images {
    height: 40rem !important;
  }

  .stripe.left .images {
    height: 55rem;
  }

  .stripe.left .images .right-skew {
    width: 52.62184874rem;
    height: 61rem;
    left: 54.88411807rem;
  }

  .stripe.left .images .sub {
    left: calc(54.20591880995872rem - 1px);
  }
}

@media only screen and (min-width: 1025px) {
  .column.medium-seven.reset {
    width: 58.3%;
  }

  .column.reset.medium-push-one {
    margin-left: 8.3%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 670px),
  only screen and (max-width: 669px) {
  #content {
    overflow: hidden;
  }

  .stripe .boxcontent p {
    line-height: 2rem;
  }

  .stripe.left .images .right-skew {
    display: none;
  }

  .column.small-ten.reset,
  .column.small-fivesixths.reset {
    width: 83.35%;
  }

  .column.reset {
    margin-right: 0;
    margin-left: 0;
  }

  .column.reset.small-push-one {
    margin-left: 8.3%;
  }

  .stripe.left .images .left-skew {
    position: relative;
    width: 46rem;
    height: 17rem;
    left: -58%;
  }

  .stripe.nopic .images .sub {
    top: 48rem;
  }

  .stripe.left .images .sub {
    width: 88%;
    position: unset;
    padding: 0;
  }

  .block1 .images {
    height: 22rem;
  }

  .block1 .boxcontent {
    left: auto;
    width: 100%;
    padding: 4rem 0;
    text-align: center;
  }

  .stripe .images .sub li h5 strong {
    font-size: 1.8rem;
  }

  .block1 .images .skew-right {
    width: 50rem;
    height: 24rem;
    left: calc(55% - 5rem);
  }

  .block1 .images .skew-left {
    width: 50rem;
    height: 24rem;
    right: calc(34% - 10rem);
  }

  .block1 .images .titles > div h6.left {
    right: 0;
    top: 2.5rem;
    font-size: 1.2rem;
  }

  .block1 .images .titles > div h6 .yellow {
    font-size: 1.3rem;
  }

  .block1 .images .titles > div h6.right {
    left: 5rem;
    top: 5rem;
    font-size: 1.2rem;
  }

  #img-wrapper {
    margin-top: 0;
    height: 45rem;
    /* display: none; */
  }
  .wrapper_full {
    width: 100%;
    background-color: var(--main-color);
  }

  #box {
    margin: 1rem 2rem 1rem 2rem !important;
    height: 309px;
    position: relative;
  }

  #transition-block h1 {
    left: 4px;
    top: 115px;
  }

  .border-top,
  .border-right,
  .border-left,
  .border-bottom {
    display: none;
  }

  #transition-block:hover {
    border: none;
  }
}

@media only screen and (min-width: 670px) {
  .column.reset.small-push-one {
    margin-left: 10.3%;
  }
  .column.small-seven.reset {
    width: 58.3%;
  }
  .column.small-seven {
    width: 56.75%;
  }
}
