html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(./../../font/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Crimson Text";
  src: url(./../../font/CrimsonPro-VariableFont_wght.ttf);
}
:root {
  --text-color: #bbbbbb;
  --text-white: #ffffff;
  --main-color: #1d1d1d;
  --second-color: #3a3a3a;
}
* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  user-select: none;
}

/* Button */
.btn {
  font-family: "Crimson Text", serif;
  margin-top: 10px;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--second-color);
  color: var(--text-color);
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: var(--text-white);
  color: var(--main-color);
}
.btn-wrapper {
  position: absolute;
  right: 7rem;
  top: 50%;
  transform: translateY(-50%);
}
/* End Button */

body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: "Bebas Neue", cursive;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  display: inline-block;
  width: 100%;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.hero {
  height: 30vh;
  color: var(--text-color);
  background-color: #423f3e;
  /* border: #bbbbbb solid; */
  margin-top: 120px;
  padding: 48px 0;
  line-height: 22px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}
.hero-inner {
  position: relative;
}
.hero-top,
.hero-content {
  padding: 0 16px;
  margin: 0 120px;
}
.breadcrumbs {
  display: flex;
  text-transform: uppercase;
  color: var(--text-white);
  font-size: 1.1em;
  font-weight: 700;
}
.breadcrumb-item {
  flex: 0 1 auto;
}
.breadcrumb-link {
  color: var(--text-color);
  line-height: 18px;
}
.breadcrumb-link:hover {
  color: var(--text-white);
}
.breadcrumb-link.select {
  color: var(--text-white);
}
.breadcrumb-divider {
  text-align: center;
  padding: 0 8px;
  width: 32px;
  display: inline-block;
  vertical-align: text-bottom;
  opacity: 0.5;
}
.hero-content h1 {
  font-size: 60px;
  line-height: 60px;
  color: var(--text-white);
}
section {
  /* height: 150vh; */
  background-color: var(--main-color);
}
.torque-block {
  height: 35vh;
  padding: 64px 158px;
  /* border: #bbbbbb solid; */
}
.block {
  height: 138px;
  border-bottom: 1px var(--text-color) solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
.block-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 95px;
  flex: 0 1 auto;
  padding: 8px;
  /* border: #bbbbbb solid; */
}
.showroom-logo img,
.heading-sepatated_item img {
  height: 50px;
  width: auto;
}
.showroom-listing{
  margin-top: 64px;
}
.showroom-listing_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Crimson Text";
  color: var(--text-color);
  margin-bottom: 50px;
  padding: 0 50px;
}
.heading-sepatated {
  /* height: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.heading-sepatated_item:first-child {
  border-right: var(--second-color) solid;
}
.heading-sepatated_item {
  padding: 0 18px;
  font-size: 25px;
}
.heading-sepatated_item h2 {
  margin: 0;
}
.showroom-listing_items {
  /* border: black solid; */
  /* height: 80vh; */
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.showroom-listing_item {
  width: 250px;
  margin: 16px 32px;
  padding: 5px;
}
.showroom-product_img {
  padding: 0 10px;
}
.showroom-product_year {
  color: var(--text-color);
  font-weight: bold;
  font-size: 15px;
}
.showroom-product_name {
  color: var(--text-white);
  font-weight: 900;
  font-size: 1.8rem;
  margin: 5px 0;
  line-height: 27px;
}
.showroom-product_msrp {
  color: var(--text-color);
}
.scroll-to-top{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  background-color: var(--second-color);
  position: fixed;
  bottom: 108px;
  right: 36px;
  border-radius: .3125rem;
  font-size: 20px;
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 16%);
  z-index: 100;
}
.scroll-to-top i{
  color: var(--text-white);
}
