.Sunset-Orange-Metallic{
    background-color: #82301B;
}
.Black-Sapphire-Metallic{
    background-color: #0D0D0D;
}
.Misano-Blue-Metallic{
    background-color: #073D59;
}
.Alpine-White{
    background-color: #E9EEE8;
}
.Mineral-Grey-Metallic{
    background-color: #515254;
}
.Skyscraper-Grey-Metallic{
    background-color: #4B5050;
}
.Storm-Bay-Metallic{
    background-color: #576371;
}
.Galvanic-Gold-Metallic{
    background-color: #DFB34C;
}
.Mythos-Black-Metallic{
    background-color: #201F1D;
}
.Daytona-Gray-Pearl{
    background-color: #464845;
}
.Ibis-White{
    background-color: #EAEAE8;
}
.Tango-Red-Metallic{
    background-color: #811717;
}
.Tactical-Green-Metallic{
    background-color: #A09461;
}
.Ascari-Blue-Metallic{
    background-color: #15222B;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Florett-Silver-Metallic{
    background-color: #ADAAAA;
}
.Kemora-Gray-Metallic{
    background-color: #6F87A9;
}
.Barcelona-Blue-Metallic{
    background-color: #405163;
}
.Laguna-Seca-Blue{
    background-color: #09A1EC;
}
.Brilliant-White{
    background-color: #EDEDED;
}
.Signal-Green{
    background-color: #32AE4F;
}
.Speed-Yellow{
    background-color: #F6CC3C;
}
.ZanzibarII{
    background-color: #7F5738;
}
.Crystal-Black{
    background-color: #1D1D1D;
}
.Lunar-Silver{
    background-color: #949393;
}
.Meteoroid-Grey{
    background-color: #353637;
}
.Platinum-White{
    background-color: #D9DBD6;
}
.Galactic-Grey{
    background-color: #484747;
}
.Surfy-Blue{
    background-color: #1BA1F8;
}
.Atlas-White{
    background-color: #EAECEB;
}
.Phantom-Black{
    background-color: #121113;
}
.Pulse-Red{
    background-color: #7B1016;
}
.Crystal-White{
    background-color: #ECECE4;
}
.Shimmering-Silver{
    background-color: #828383;
}
.Ash-Black{
    background-color: #272626;
}
.Titan-Grey{
    background-color: #363732;
}
.Super-White{
    background-color: #FBFAF9;
}
.Celestite{
    background-color: #656C74;
}
.Classic-Silver{
    background-color: #BEBEBC;
}
.Black-Sand{
    background-color: #141615;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
.Suzuka-Gray-Metallic{
    background-color: #C3C5C0;
}
