.Sunset-Orange-Metallic {
  background-color: #82301b;
}
.Black-Sapphire-Metallic {
  background-color: #0d0d0d;
}
.Misano-Blue-Metallic {
  background-color: #073d59;
}
.Alpine-White {
  background-color: #e9eee8;
}
.Mineral-Grey-Metallic {
  background-color: #515254;
}
.Skyscraper-Grey-Metallic {
  background-color: #4b5050;
}
.Storm-Bay-Metallic {
  background-color: #576371;
}
.Galvanic-Gold-Metallic {
  background-color: #dfb34c;
}
.Mythos-Black-Metallic {
  background-color: #201f1d;
}
.Daytona-Gray-Pearl {
  background-color: #464845;
}
.Ibis-White {
  background-color: #eaeae8;
}
.Tango-Red-Metallic {
  background-color: #811717;
}
.Tactical-Green-Metallic {
  background-color: #a09461;
}
.Ascari-Blue-Metallic {
  background-color: #15222b;
}
.Suzuka-Gray-Metallic {
  background-color: #c3c5c0;
}
.Florett-Silver-Metallic {
  background-color: #adaaaa;
}
.Kemora-Gray-Metallic {
  background-color: #6f87a9;
}
.Barcelona-Blue-Metallic {
  background-color: #405163;
}
.Laguna-Seca-Blue {
  background-color: #09a1ec;
}
.Brilliant-White {
  background-color: #ededed;
}
.Signal-Green {
  background-color: #32ae4f;
}
.Speed-Yellow {
  background-color: #f6cc3c;
}
.ZanzibarII {
  background-color: #7f5738;
}
.Crystal-Black {
  background-color: #1d1d1d;
}
.Lunar-Silver {
  background-color: #949393;
}
.Meteoroid-Grey {
  background-color: #353637;
}
.Platinum-White {
  background-color: #d9dbd6;
}
.Galactic-Grey {
  background-color: #484747;
}
.Surfy-Blue {
  background-color: #1ba1f8;
}
.Atlas-White {
  background-color: #eaeceb;
}
.Phantom-Black {
  background-color: #121113;
}
.Pulse-Red {
  background-color: #7b1016;
}
.Crystal-White {
  background-color: #ecece4;
}
.Shimmering-Silver {
  background-color: #828383;
}
.Ash-Black {
  background-color: #272626;
}
.Titan-Grey {
  background-color: #363732;
}
.Super-White {
  background-color: #fbfaf9;
}
.Celestite {
  background-color: #656c74;
}
.Classic-Silver {
  background-color: #bebebc;
}
.Black-Sand {
  background-color: #141615;
}
.Soul-Red-Crystal {
  background-color: #910f18;
}
.Jet-Black {
  background-color: #10100f;
}
.Deep-Crystal-Blue {
  background-color: #08222f;
}
.Machine-Grey {
  background-color: #38363b;
}
.Snowflake-White {
  background-color: #e7e8e8;
}
.Carrara-White {
  background-color: #d9d9d9;
}
.Carmine-Red {
  background-color: #720d1e;
}
.Miami-Blue {
  background-color: #1b565c;
}
.Mamba-Green {
  background-color: #185f1a;
}
.Dolomite-Silver {
  background-color: #a4a59e;
}
.Sapphire-Blue {
  background-color: #254578;
}
.Volcano-Grey {
  background-color: #2b2b2b;
}
.Papaya {
  background-color: #c63800;
}
.Gentian-Blue {
  background-color: #0d2742;
}
.Quarzite-Grey {
  background-color: #49535a;
}
.Lava-Orange {
  background-color: #c92627;
}
.Chalk {
  background-color: #b1b2af;
}
.Digital-White {
  background-color: #d6d6d4;
}
.Cosmos-Black {
  background-color: #19191b;
}
.Mojave-Silver {
  background-color: #b9b8b6;
}
.Sun-Yellow {
  background-color: #daa839;
}
.Polar-White {
  background-color: #dbdad5;
}
.Denim-Blue {
  background-color: #304c61;
}
.Patagonia-Red {
  background-color: #bc202a;
}
.Mountain-Grey {
  background-color: #101012;
}
.Nocturnal-Black {
  background-color: #c3c5c0;
}
.Brilliant-Blue {
  background-color: #061731;
}
.Hyacinth-Red {
  background-color: #570912;
}
.Selenite-Grey {
  background-color: #353736;
}
.Diamond-White {
  background-color: #edead9;
}
.Obsidian-Black {
  background-color: #060606;
}
.Modern-Steel {
  background-color: #403e3f;
}
.Still-Night {
  background-color: #0a2e80;
}
.San-Marino {
  background-color: #530117;
}
.Pre-Dawn-Grey {
  background-color: #433f3c;
}
.Midnight-Black {
  background-color: #000000;
}
.Celestial-Silver {
  background-color: #888888;
}
.Supersonic-Red {
  background-color: #a21920;
}
.Wind-Chill-Pearl {
  background-color: #d6d5d1;
}
.Magnetic-Grey {
  background-color: #4d4d4d;
}
.Blue-Magnetism {
  background-color: #056072;
}
.Typhoon-Silver {
  background-color: #9b9b9b;
}
.Intense-Blue {
  background-color: #222a56;
}
.Mannhattan-Gray {
  background-color: #272729;
}
.Brilliant-Black {
  background-color: #0c0c0c;
}
.Navarra-Blue {
  background-color: #172034;
}
.Glacier-White {
  background-color: #e5e6e5;
}
.Turbo-Blue {
  background-color: #084fa7;
}
.District-Green {
  background-color: #60703f;
}
.Quantum-Grey {
  background-color: #5a585b;
}
.Intense-Blue {
  background-color: #222a56;
}
.Intense-Blue {
  background-color: #222a56;
}
